textarea{
    width: 75%;
    height: 20em;
    margin-bottom: 2%;
    margin-top: 10%;
}
form{
    margin-left: 15%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
br{
    margin: 1%;
}
.dark{
    max-width: 42px;
    float: right;
    position: fixed;
    bottom: 2%;
    right: 2%;
    margin-right: 3px;
    cursor: pointer;
}